.idea

bin/
/db
.eclipse
/lib/
/logs/
/modules
tmp/
test-result
server.pid
*.eml
/dist/
.cache

*.class
*.log

.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


